<style>

    table {
        margin-left:0;
        margin-right:auto;
        float:left;
        width: auto; /* Makes the table span the full width of its container */
        border-collapse: collapse; /* Removes the default spacing between table cells */
    }

    /* Style for the column containing the image */
    .laser-image-column {
        vertical-align: top; /* Align image to the top of its cell */
    }

        .laser-image-column img {
            display: block; /* Ensures the image behaves as a block element, removing any extra whitespace */
            width: 180px; /*  Keeps the image's original width or scales it proportionally */
            height: auto; /* Stretches the image to fill the entire height of its containing cell */
        }

    /* Styles for the column containing the text */
    .laser-text-column {
        height: 80%; /*  Ensures the text column expands to match the height of the image column */
    }

    /* Styles for individual text rows */
    .laser-text-row {
        /* Add any additional styling for your text rows here, e.g., font-size, padding, etc. */
        padding: 0px; /* Provides a small amount of spacing around the text within each row */
    }
</style>

<table>
    <tr>
        <td class="laser-image-column">
            <img src="{{ .Get "image" }}" alt="{{ .Get "alt" }}">
        </td>
        <td class="laser-text-column">
            <div class="laser-text-row"><H4>{{ .Get "title" }}</H4></div>
            <div class="laser-text-row">Showtime: {{ .Get "time"}}<br /><a href="{{ .Get "tickets" }}">Buy Tickets Online</a><br /><a href="{{ .Get "info"}}">More Information</a></div>
        </td>
    </tr>
</table>
