<div id="follow-icons">
	<a href="http://facebook.com/zenithar" rel="me"><i class="fab fa-facebook-square fa-2x"></i></a>
	<a href="http://twitter.com/zenithar" rel="me"><i class="fab fa-twitter-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/zenithar" rel="me"><i class="fab fa-linkedin-square fa-2x"></i></a>
	<a href="http://github.com/zenithar" rel="me"><i class="fab fa-github-square fa-2x"></i></a>
	<a href="http://plus.google.com/+ThibaultNormand" rel="author"><i class="fab fa-google-plus-square fa-2x"></i></a>
	<a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fas fa-rss-square fa-2x"></i></a> 
</div>  
