{{ if .Site.Menus.main }}
<div id="menu" data-target="menu">
    <div class="menu-header">
        <span class="menu-label">Menú</span>
        <a class="menu-close" data-action="menu" data-target="menu"></a>
    </div>

    <div class="menu-list">
        {{ range .Site.Menus.main }}
        {{ $currentNode := . }}
        <li class="menu-list-item">
            {{ .Pre }}
            <a class="home current js-ajax-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        <li class="menu-list-item menu-list-social">
            {{ if .Site.Params.twitter }}
                <a class="nav-social" target="_blank" href="https://twitter.com/{{ .Site.Params.twitter }}"
                   title="{{ .Site.Title }} en Twitter"><i class="fab fa-twitter"></i></a>
            {{ end }}
            {{ if .Site.Params.telegram }}
                <a class="nav-social" target="_blank" href="https://t.me/{{ .Site.Params.telegram }}"
                   title="{{ .Site.Title }} en Telegram"><i class="fab fa-telegram-plane"></i></a>
            {{ end }}
            {{ if .Site.Params.github }}
                <a class="nav-social" target="_blank" href="https://github.com/{{ .Site.Params.github }}"
                   title="{{ .Site.Title }} en GitHub"><i class="fab fa-github"></i></a>
            {{ end }}
        </li>
    </div>

</div>
{{ end }}
